#homepage {
  padding-top: 50px;
}

.hp-recommend {
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  box-sizing: border-box;
  padding: 10px;
}

.hp-recommend > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.hp-recommend::-webkit-scrollbar {
  height: 7px;
}

/* Track */
.hp-recommend::-webkit-scrollbar-track {
  background: #fcfcfc;
}

/* Handle */
.hp-recommend::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  opacity: 1;
  border-radius: 5px;
  transition: 0.2s;
}

/* Handle on hover */
.hp-recommend::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

.retake-btn {
  position: fixed;
  width: 150px;
  bottom: 20px;
  right: 20px;
}

.retake-btn > div {
  background-color: #293c4f;
  color: white;
  transition: 0.5s;
  font-size: 0.8rem;
}

.retake-btn > div:hover {
  background-color: #3c91e6;
}
