.btn {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: var(--drop-shadow);
  background-color: var(--main-color);
  color: var(--main-color-text);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.btn:hover {
  transform: scale(1.008);
}
