form {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0 25px;
}

label {
    display: block;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #dadce0;
    border-radius: 5px;
    font-size: 1.2em;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #2460a7;
    border-color: #ffffff;
}

.submit-wrapper {
    margin: 20px;
    text-align: center;
}

input[type=submit] {
    width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
    background-color: #202F3D;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #FFFFFF;
}

input[type=submit]:hover {
    background-color: #505F6D;
}

input[type=submit]:focus {
    outline: none;
    box-shadow: 0 0 5px 4px lightgreen;
}