.after-navbar {
  padding-top: 50px;
}

.back-button {
  margin: 20px 0 0 20px;
  display: inline;
  width: 64px;
}

.login-form {
  box-shadow: var(--drop-shadow);
  padding: 30px;
  box-sizing: border-box;
}

form ul {
  list-style-type: none;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #dadce0;
  border-radius: 5px;
  font-size: 1.2em;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #2460a7;
  border-color: #ffffff;
}

.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.809);
  display: flex;
  align-items: center;
  justify-content: center;
}
